body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #DD0000;
    text-align: center;
    padding: 50px 0;
}

/* Estilos para el nav */
nav {
    position: absolute;
    top: 20px; /* Ajusta la distancia desde la parte superior */
    right: 20px; /* Ajusta la distancia desde la parte derecha */
}

nav a {
    margin-left: 20px; /* Espaciado entre los enlaces */
    text-decoration: none; /* Elimina el subrayado */
    color: white; /* Cambia el color del texto según el diseño */
    font-size: 16px; /* Ajusta el tamaño de fuente */
    font-weight: bold;
    padding: 10px 15px; /* Espaciado interno de los enlaces */
    border-radius: 5px; /* Bordes redondeados */
}

nav a:hover {
    background-color: #BB0000;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ffffff;
}

/* Footer siempre al final */
main {
    flex: 1;
}

footer {
    background-color: #464646;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilo para el botón de regreso */
.back-button {
    position: absolute;
    top: 20px; /* Distancia desde la parte superior */
    left: 20px; /* Distancia desde la parte derecha */
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.back-button:hover {
    background-color: rgba(255, 38, 0, 1);
}

.button-back:hover {
    background-color: #ff1f1f;
}

/* Estilo para la sección de comisiones */
.commissions-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.commission-item {
    width: 250px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}

.commission-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
