body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Color de fondo */
}

header {
    background-color: #c70000; /* Color rojo para la cabecera */
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    margin-bottom: 15px;
    display: flex; /* Usar flexbox para alinear horizontalmente */
    justify-content: flex-start; /* Alinear a la izquierda */
    padding: 10px; /* Espaciado alrededor del menú */
}

nav a {
    margin-right: 20px; /* Espacio entre las pestañas */
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #900000; /* Rojo más oscuro al pasar el cursor */
}

nav .current {
    background-color: #900000; /* Color de fondo para el enlace actual */
}

main {
    padding: 20px;
    display: flex; /* Usar flexbox para centrar */
    justify-content: center; /* Centrar horizontalmente */
}

.sobre-mi {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.profile-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-img {
    margin-right: 20px;
}

.profile-img img {
    width: 150px; /* Ajusta el tamaño según necesites */
    height: auto;
    border-radius: 50%; /* Cambiado a círculo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para la imagen */
}

.profile-text {
    flex: 1;
}

.contacto, .redes-sociales {
    margin-top: 20px;
}

footer {
    background-color: #c70000; /* Color rojo para el footer */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: sticky; /* Asegura que el footer se mantenga al fondo */
    bottom: 0;
    width: 100%;
}
