/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center; /* Centro el texto por defecto */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Profile Section */
.sobre-mi {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sobre-mi h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centro el texto del perfil */
}

.profile-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-text p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #555;
}

/* Contact Section */
.contacto {
    margin-top: 40px;
    text-align: center;
}

.contacto h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
}

.contacto p {
    font-size: 1.1rem;
}

.contacto a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.contacto a:hover {
    color: #555;
}

/* Social Media Section */
.redes-sociales {
    margin-top: 40px;
    text-align: center;
}

.redes-sociales h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
}

.redes-sociales a {
    margin: 0 10px;
    font-size: 1.1rem;
    color: #333;
    text-decoration: none;
}

.redes-sociales a:hover {
    color: #555;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

/* Responsive */
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
    }
    
    .sobre-mi {
        padding: 15px;
    }

    .profile-text p {
        font-size: 1rem;
    }
}
