/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header nav {
    display: flex;
    justify-content: flex-start; /* Alinea las pestañas a la izquierda */
    gap: 10px; /* Espacio entre las pestañas */
    margin-bottom: 20px;
    padding-left: 20px; /* Ajuste opcional para agregar separación desde el borde izquierdo */
}

header nav a.header {
    display: inline-block;
    margin: 0;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #444;
    width: auto;
    white-space: nowrap;
}

header nav a.header:hover {
    background-color: #f0f0f0;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

header nav a.header:active {
    background-color: #ccc;
}

header nav a.header.current {
    background-color: #ddd;
    color: #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

main {
    padding: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: static;
    width: 100%;
}

footer p {
    margin: 0;
}
